.myprojects-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.project-card {
    width: 300px;
    background-color: #e68049;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.myprojects-title h1{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}

.project-title{
   padding-bottom: 10px;
   padding-top: 8px;
}

.project-image{
    width: 300px;
    height: 225px;
    border-radius: 15px;
}